
.fa-star:before { content: '\e803'; } /* '' */
.fa-plus:before { content: '\e816'; } /* '' */
.fa-minus:before { content: '\e818'; } /* '' */
.fa-lock:before { content: '\e81b'; } /* '' */
.fa-tag:before { content: '\e820'; } /* '' */
.fa-bookmark:before { content: '\e822'; } /* '' */
.fa-cog:before { content: '\e839'; } /* '' */
.fa-eject:before { content: '\e86c'; } /* '' */
.fa-list:before { content: '\e880'; } /* '' */
.fa-book:before { content: '\e88a'; } /* '' */
.fa-check:before { content: '\e88d'; } /* '' */
.fa-search:before { content: '\e89e'; } /* '' */
.fa-table:before { content: '\f0ce'; } /* '' */
.fa-money:before { content: '\f0d6'; } /* '' */
.fa-spinner:before { content: '\f110'; } /* '' */
.fa-reply:before { content: '\f112'; } /* '' */
.fa-github:before { content: '\f113'; } /* '' */
.fa-code:before { content: '\f121'; } /* '' */
.fa-shield:before { content: '\f132'; } /* '' */
.fa-level-up:before { content: '\f148'; } /* '' */
.fa-tumblr:before { content: '\f173'; } /* '' */
.fa-android:before { content: '\f17b'; } /* '' */
.fa-reddit:before { content: '\f1a1'; } /* '' */
.fa-database:before { content: '\f1c0'; } /* '' */
.fa-share:before { content: '\f1e0'; } /* '' */
.fa-trash:before { content: '\f1f8'; } /* '' */
.fa-user-secret:before { content: '\f21b'; } /* '' */
.fa-question-circle-o:before { content: '\f29c'; } /* '' */