@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?75010511');
  src: url('../font/fontello.eot?75010511#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?75010511') format('woff2'),
       url('../font/fontello.woff?75010511') format('woff'),
       url('../font/fontello.ttf?75010511') format('truetype'),
       url('../font/fontello.svg?75010511#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?75010511#fontello') format('svg');
  }
}
*/
 
 [class^="fa-"]:before, [class*=" fa-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.fa-star:before { content: '\e803'; } /* '' */
.fa-th-list:before { content: '\e80f'; } /* '' */
.fa-cancel:before { content: '\e813'; } /* '' */
.fa-plus:before { content: '\e816'; } /* '' */
.fa-plus-circled:before { content: '\e817'; } /* '' */
.fa-minus:before { content: '\e818'; } /* '' */
.fa-minus-circled:before { content: '\e819'; } /* '' */
.fa-lock:before { content: '\e81b'; } /* '' */
.fa-tag:before { content: '\e820'; } /* '' */
.fa-bookmark:before { content: '\e822'; } /* '' */
.fa-edit:before { content: '\e82b'; } /* '' */
.fa-chat:before { content: '\e82f'; } /* '' */
.fa-attention:before { content: '\e831'; } /* '' */
.fa-cog:before { content: '\e839'; } /* '' */
.fa-login:before { content: '\e83e'; } /* '' */
.fa-logout:before { content: '\e83f'; } /* '' */
.fa-block:before { content: '\e845'; } /* '' */
.fa-left-open:before { content: '\e853'; } /* '' */
.fa-right-open:before { content: '\e854'; } /* '' */
.fa-up-open:before { content: '\e855'; } /* '' */
.fa-down-big:before { content: '\e856'; } /* '' */
.fa-up-big:before { content: '\e859'; } /* '' */
.fa-cw:before { content: '\e85e'; } /* '' */
.fa-arrows-cw:before { content: '\e860'; } /* '' */
.fa-shuffle:before { content: '\e861'; } /* '' */
.fa-to-end:before { content: '\e866'; } /* '' */
.fa-eject:before { content: '\e86c'; } /* '' */
.fa-list:before { content: '\e880'; } /* '' */
.fa-book:before { content: '\e88a'; } /* '' */
.fa-check:before { content: '\e88d'; } /* '' */
.fa-floppy:before { content: '\e894'; } /* '' */
.fa-megaphone:before { content: '\e895'; } /* '' */
.fa-search:before { content: '\e89e'; } /* '' */
.fa-mail:before { content: '\e89f'; } /* '' */
.fa-link-ext:before { content: '\f08e'; } /* '' */
.fa-check-empty:before { content: '\f096'; } /* '' */
.fa-money:before { content: '\f0d6'; } /* '' */
.fa-mail-alt:before { content: '\f0e0'; } /* '' */
.fa-doc-text:before { content: '\f0f6'; } /* '' */
.fa-spinner:before { content: '\f110'; } /* '' */
.fa-reply:before { content: '\f112'; } /* '' */
.fa-github:before { content: '\f113'; } /* '' */
.fa-code:before { content: '\f121'; } /* '' */
.fa-shield:before { content: '\f132'; } /* '' */
.fa-level-up:before { content: '\f148'; } /* '' */
.fa-tumblr:before { content: '\f173'; } /* '' */
.fa-android:before { content: '\f17b'; } /* '' */
.fa-reddit:before { content: '\f1a1'; } /* '' */
.fa-database:before { content: '\f1c0'; } /* '' */
.fa-share:before { content: '\f1e0'; } /* '' */
.fa-trash:before { content: '\f1f8'; } /* '' */
.fa-user-secret:before { content: '\f21b'; } /* '' */
.fa-question-circle-o:before { content: '\f29c'; } /* '' */